---
layout: 'base.njk'
css_include: /css/article.css
---
<div class="section">
  <figure>
    <img alt="{{ imageAlt}}" src="{{ image }}">
    <figcaption>
        {{ imageAlt}}
    </figcaption>
  </figure>
  {{ content | safe }}
</div>